*,
*::after,
*::before {
    margin: 7px;
    padding: 1px;
    box-sizing: border-box;
}

html {
    background: url("public/galaxy.jpg") bottom center;
    background-size: cover;
    background-color: #05292e;
    color: aliceblue;
    background-size: 100% 100%;
    gap: 5%;
    background-repeat: no-repeat;
    opacity: 100%;
     }
  

li {
    list-style-type: none 
    
}

li b {
    font-size: 20px;

}


h1 {
    font-size: 8em;
    color: aqua;
    text-shadow: -1px 1px 2px #000;
    line-height: 1.1em;
    font-family: 'Get Schwifty';
    justify-content:flex;
    animation: glow 1s ease-in-out infinite alternate;
      }
      @-webkit-keyframes glow {
        from {
          text-shadow: 0 0 10px rgb(14, 102, 149), 0 0 20px rgb(36, 130, 167), 0 0 30px #1685db, 0 0 40px #0cbb29;
        }
        
        to {
          text-shadow: 0 0 20px rgb(69, 148, 170), 0 0 30px #2ab914, 0 0 40px #0cbb29;
        }
      }

h2 {
   font-family: fantasy;     
}   

h3 {
    font-family: fantasy;
    font-variant: small-caps;
    padding-bottom: 1px;
    font-weight: 300;
}
  button {
    background-color: rgb(1, 40, 27);
    color: greenyellow;
    border-radius: 50px;  
    animation: glow 1s ease-in-out infinite alternate;
    font-size: large;

  }
  
  .residentCard {  
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    flex-direction: row;
    gap: 40px;
    margin: 20px 40px;
    box-shadow: 5px 10px 20px 0px greenyellow;
    box-sizing: 500px;
  }
